LaboratorioWeb/Cliente/web/WEB-INF/wsdl/localhost_8085/publicador.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://complejoservidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://complejoservidor/" name="PublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://complejoservidor/" schemaLocation="http://localhost:8085/publicador?xsd=1"/>
</xsd:schema>
</types>
<message name="listarEspectaculoQueNoFormanParte">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="listarEspectaculoQueNoFormanParteResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarFuncionesAsociadasCategoria">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="listarFuncionesAsociadasCategoriaResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarEspectaculosAceptadoCategoria">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarEspectaculosAceptadoCategoriaResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="confirmarAgregarEspectaculoaPaquete">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="confirmarAgregarEspectaculoaPaqueteResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="paquetesNoComprados">
<part name="arg0" type="xsd:string"/>
</message>
<message name="paquetesNoCompradosResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="buscarEspectaculo">
<part name="arg0" type="xsd:string"/>
</message>
<message name="buscarEspectaculoResponse">
<part name="return" type="tns:dtEspectaculo"/>
</message>
<message name="confirmarCrearPaquete">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:double"/>
<part name="arg6" type="xsd:double"/>
<part name="arg7" type="xsd:string"/>
</message>
<message name="confirmarCrearPaqueteResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="listarEspectaculosAceptado">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarEspectaculosAceptadoResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarEspectaculoP">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarEspectaculoPResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="confirmarCategoria">
<part name="arg0" type="xsd:string"/>
</message>
<message name="confirmarCategoriaResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="listarPaquetesVigentes"/>
<message name="listarPaquetesVigentesResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="modificarEspectador">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
</message>
<message name="modificarEspectadorResponse"/>
<message name="listarEspectaculoCategoria">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarEspectaculoCategoriaResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarPaqueteEspectaculo">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarPaqueteEspectaculoResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarTodosEspectaculosAceptados"/>
<message name="listarTodosEspectaculosAceptadosResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarEspectaculo">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarEspectaculoResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarPlataformas"/>
<message name="listarPlataformasResponse">
<part name="return" type="tns:listPlataforma"/>
</message>
<message name="listarEspectaculosArtista">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarEspectaculosArtistaResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="confirmarEspectaculo">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:int"/>
<part name="arg6" type="xsd:int"/>
<part name="arg7" type="xsd:int"/>
<part name="arg8" type="xsd:double"/>
<part name="arg9" type="xsd:string"/>
<part name="arg10" type="tns:estado"/>
<part name="arg11" type="tns:listString"/>
<part name="arg12" type="xsd:string"/>
<part name="arg13" type="xsd:int"/>
<part name="arg14" type="xsd:string"/>
</message>
<message name="confirmarEspectaculoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="estadoEspectaculo">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="tns:estado"/>
</message>
<message name="estadoEspectaculoResponse"/>
<message name="obtenerEnlaceEmbebido">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerEnlaceEmbebidoResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="existeEspectaculo">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existeEspectaculoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="listarEspectaculosNoProcesados"/>
<message name="listarEspectaculosNoProcesadosResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarEspectaculoPl">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarEspectaculoPlResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarFuncionesAsociadas">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="listarFuncionesAsociadasResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarCategoriaPE">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarCategoriaPEResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="registrarEspectador">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="tns:listString"/>
<part name="arg4" type="xsd:double"/>
<part name="arg5" type="xsd:string"/>
</message>
<message name="registrarEspectadorResponse"/>
<message name="desmarcarFavorito">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="desmarcarFavoritoResponse"/>
<message name="valorarEspectaculo">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:int"/>
</message>
<message name="valorarEspectaculoResponse"/>
<message name="finalizarEspectaculo">
<part name="arg0" type="xsd:string"/>
</message>
<message name="finalizarEspectaculoResponse"/>
<message name="listarEspectaculosValoracion">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarEspectaculosValoracionResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="existePaquete">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existePaqueteResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="listarArtistas"/>
<message name="listarArtistasResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="estaComprado">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="estaCompradoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="comprarPaquete">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="comprarPaqueteResponse"/>
<message name="buscarArtista">
<part name="arg0" type="xsd:string"/>
</message>
<message name="buscarArtistaResponse">
<part name="return" type="tns:dtArtista"/>
</message>
<message name="estarRegistrado">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="estarRegistradoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="existeUsuario">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existeUsuarioResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="relacionUsuario">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="relacionUsuarioResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="seguirUsuario">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="seguirUsuarioResponse"/>
<message name="altaFuncion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="tns:listString"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:string"/>
<part name="arg6" type="xsd:string"/>
</message>
<message name="altaFuncionResponse"/>
<message name="tipoUsuario">
<part name="arg0" type="xsd:string"/>
</message>
<message name="tipoUsuarioResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="buscarPaquete">
<part name="arg0" type="xsd:string"/>
</message>
<message name="buscarPaqueteResponse">
<part name="return" type="tns:dtPaquetes"/>
</message>
<message name="dejarDeSeguir">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="dejarDeSeguirResponse"/>
<message name="buscarFunciones">
<part name="arg0" type="xsd:string"/>
</message>
<message name="buscarFuncionesResponse">
<part name="return" type="tns:dtFunciones"/>
</message>
<message name="listarPaquete"/>
<message name="listarPaqueteResponse">
<part name="return" type="tns:listPaquete"/>
</message>
<message name="existeArtista">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existeArtistaResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="existeEspectador">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existeEspectadorResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="extraerIDYoutube">
<part name="arg0" type="xsd:string"/>
</message>
<message name="extraerIDYoutubeResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="listarRegistros">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarRegistrosResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarUsuarios"/>
<message name="listarUsuariosResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="confirmarUsuario">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:string"/>
<part name="arg6" type="xsd:string"/>
<part name="arg7" type="xsd:string"/>
<part name="arg8" type="xsd:string"/>
<part name="arg9" type="xsd:string"/>
</message>
<message name="confirmarUsuarioResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="listarBusqueda">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarBusquedaResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="existePlataforma">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existePlataformaResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="devolverBusqueda">
<part name="arg0" type="xsd:string"/>
</message>
<message name="devolverBusquedaResponse">
<part name="return" type="tns:listBusqueda"/>
</message>
<message name="sortearPremios">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="sortearPremiosResponse"/>
<message name="aceptarRegisto">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
</message>
<message name="aceptarRegistoResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="listarPaquetes"/>
<message name="listarPaquetesResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="validarUsuario">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="validarUsuarioResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="listarPlataforma"/>
<message name="listarPlataformaResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="existeFuncion">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existeFuncionResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="listarCategorias"/>
<message name="listarCategoriasResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="modificarArtista">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:string"/>
<part name="arg6" type="xsd:string"/>
<part name="arg7" type="xsd:string"/>
</message>
<message name="modificarArtistaResponse"/>
<message name="buscarEspectador">
<part name="arg0" type="xsd:string"/>
</message>
<message name="buscarEspectadorResponse">
<part name="return" type="tns:dtEspectador"/>
</message>
<message name="existeCategoria">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existeCategoriaResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="existeFuncionenE">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="existeFuncionenEResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="estaValorado">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="estaValoradoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="esFavorito">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="esFavoritoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="marcarFavorito">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="marcarFavoritoResponse"/>
<message name="crearPDF">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="crearPDFResponse"/>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="DocumentException">
<part name="fault" element="tns:DocumentException"/>
</message>
<message name="listarCategoriaE">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarCategoriaEResponse">
<part name="return" type="tns:listString"/>
</message>
<message name="listarEspectaculosFinalizadosArtista">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarEspectaculosFinalizadosArtistaResponse">
<part name="return" type="tns:listString"/>
</message>
<portType name="Publicador">
<operation name="listarEspectaculoQueNoFormanParte" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculoQueNoFormanParteRequest" message="tns:listarEspectaculoQueNoFormanParte"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculoQueNoFormanParteResponse" message="tns:listarEspectaculoQueNoFormanParteResponse"/>
</operation>
<operation name="listarFuncionesAsociadasCategoria" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/listarFuncionesAsociadasCategoriaRequest" message="tns:listarFuncionesAsociadasCategoria"/>
<output wsam:Action="http://complejoservidor/Publicador/listarFuncionesAsociadasCategoriaResponse" message="tns:listarFuncionesAsociadasCategoriaResponse"/>
</operation>
<operation name="listarEspectaculosAceptadoCategoria">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculosAceptadoCategoriaRequest" message="tns:listarEspectaculosAceptadoCategoria"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculosAceptadoCategoriaResponse" message="tns:listarEspectaculosAceptadoCategoriaResponse"/>
</operation>
<operation name="confirmarAgregarEspectaculoaPaquete" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/confirmarAgregarEspectaculoaPaqueteRequest" message="tns:confirmarAgregarEspectaculoaPaquete"/>
<output wsam:Action="http://complejoservidor/Publicador/confirmarAgregarEspectaculoaPaqueteResponse" message="tns:confirmarAgregarEspectaculoaPaqueteResponse"/>
</operation>
<operation name="paquetesNoComprados">
<input wsam:Action="http://complejoservidor/Publicador/paquetesNoCompradosRequest" message="tns:paquetesNoComprados"/>
<output wsam:Action="http://complejoservidor/Publicador/paquetesNoCompradosResponse" message="tns:paquetesNoCompradosResponse"/>
</operation>
<operation name="buscarEspectaculo">
<input wsam:Action="http://complejoservidor/Publicador/buscarEspectaculoRequest" message="tns:buscarEspectaculo"/>
<output wsam:Action="http://complejoservidor/Publicador/buscarEspectaculoResponse" message="tns:buscarEspectaculoResponse"/>
</operation>
<operation name="confirmarCrearPaquete" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input wsam:Action="http://complejoservidor/Publicador/confirmarCrearPaqueteRequest" message="tns:confirmarCrearPaquete"/>
<output wsam:Action="http://complejoservidor/Publicador/confirmarCrearPaqueteResponse" message="tns:confirmarCrearPaqueteResponse"/>
</operation>
<operation name="listarEspectaculosAceptado">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculosAceptadoRequest" message="tns:listarEspectaculosAceptado"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculosAceptadoResponse" message="tns:listarEspectaculosAceptadoResponse"/>
</operation>
<operation name="listarEspectaculoP">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculoPRequest" message="tns:listarEspectaculoP"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculoPResponse" message="tns:listarEspectaculoPResponse"/>
</operation>
<operation name="confirmarCategoria">
<input wsam:Action="http://complejoservidor/Publicador/confirmarCategoriaRequest" message="tns:confirmarCategoria"/>
<output wsam:Action="http://complejoservidor/Publicador/confirmarCategoriaResponse" message="tns:confirmarCategoriaResponse"/>
</operation>
<operation name="listarPaquetesVigentes">
<input wsam:Action="http://complejoservidor/Publicador/listarPaquetesVigentesRequest" message="tns:listarPaquetesVigentes"/>
<output wsam:Action="http://complejoservidor/Publicador/listarPaquetesVigentesResponse" message="tns:listarPaquetesVigentesResponse"/>
</operation>
<operation name="modificarEspectador" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://complejoservidor/Publicador/modificarEspectadorRequest" message="tns:modificarEspectador"/>
<output wsam:Action="http://complejoservidor/Publicador/modificarEspectadorResponse" message="tns:modificarEspectadorResponse"/>
</operation>
<operation name="listarEspectaculoCategoria">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculoCategoriaRequest" message="tns:listarEspectaculoCategoria"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculoCategoriaResponse" message="tns:listarEspectaculoCategoriaResponse"/>
</operation>
<operation name="listarPaqueteEspectaculo">
<input wsam:Action="http://complejoservidor/Publicador/listarPaqueteEspectaculoRequest" message="tns:listarPaqueteEspectaculo"/>
<output wsam:Action="http://complejoservidor/Publicador/listarPaqueteEspectaculoResponse" message="tns:listarPaqueteEspectaculoResponse"/>
</operation>
<operation name="listarTodosEspectaculosAceptados">
<input wsam:Action="http://complejoservidor/Publicador/listarTodosEspectaculosAceptadosRequest" message="tns:listarTodosEspectaculosAceptados"/>
<output wsam:Action="http://complejoservidor/Publicador/listarTodosEspectaculosAceptadosResponse" message="tns:listarTodosEspectaculosAceptadosResponse"/>
</operation>
<operation name="listarEspectaculo">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculoRequest" message="tns:listarEspectaculo"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculoResponse" message="tns:listarEspectaculoResponse"/>
</operation>
<operation name="listarPlataformas">
<input wsam:Action="http://complejoservidor/Publicador/listarPlataformasRequest" message="tns:listarPlataformas"/>
<output wsam:Action="http://complejoservidor/Publicador/listarPlataformasResponse" message="tns:listarPlataformasResponse"/>
</operation>
<operation name="listarEspectaculosArtista">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculosArtistaRequest" message="tns:listarEspectaculosArtista"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculosArtistaResponse" message="tns:listarEspectaculosArtistaResponse"/>
</operation>
<operation name="confirmarEspectaculo" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9 arg10 arg11 arg12 arg13 arg14">
<input wsam:Action="http://complejoservidor/Publicador/confirmarEspectaculoRequest" message="tns:confirmarEspectaculo"/>
<output wsam:Action="http://complejoservidor/Publicador/confirmarEspectaculoResponse" message="tns:confirmarEspectaculoResponse"/>
</operation>
<operation name="estadoEspectaculo" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/estadoEspectaculoRequest" message="tns:estadoEspectaculo"/>
<output wsam:Action="http://complejoservidor/Publicador/estadoEspectaculoResponse" message="tns:estadoEspectaculoResponse"/>
</operation>
<operation name="obtenerEnlaceEmbebido">
<input wsam:Action="http://complejoservidor/Publicador/obtenerEnlaceEmbebidoRequest" message="tns:obtenerEnlaceEmbebido"/>
<output wsam:Action="http://complejoservidor/Publicador/obtenerEnlaceEmbebidoResponse" message="tns:obtenerEnlaceEmbebidoResponse"/>
</operation>
<operation name="existeEspectaculo">
<input wsam:Action="http://complejoservidor/Publicador/existeEspectaculoRequest" message="tns:existeEspectaculo"/>
<output wsam:Action="http://complejoservidor/Publicador/existeEspectaculoResponse" message="tns:existeEspectaculoResponse"/>
</operation>
<operation name="listarEspectaculosNoProcesados">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculosNoProcesadosRequest" message="tns:listarEspectaculosNoProcesados"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculosNoProcesadosResponse" message="tns:listarEspectaculosNoProcesadosResponse"/>
</operation>
<operation name="listarEspectaculoPl">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculoPlRequest" message="tns:listarEspectaculoPl"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculoPlResponse" message="tns:listarEspectaculoPlResponse"/>
</operation>
<operation name="listarFuncionesAsociadas" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/listarFuncionesAsociadasRequest" message="tns:listarFuncionesAsociadas"/>
<output wsam:Action="http://complejoservidor/Publicador/listarFuncionesAsociadasResponse" message="tns:listarFuncionesAsociadasResponse"/>
</operation>
<operation name="listarCategoriaPE">
<input wsam:Action="http://complejoservidor/Publicador/listarCategoriaPERequest" message="tns:listarCategoriaPE"/>
<output wsam:Action="http://complejoservidor/Publicador/listarCategoriaPEResponse" message="tns:listarCategoriaPEResponse"/>
</operation>
<operation name="registrarEspectador" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://complejoservidor/Publicador/registrarEspectadorRequest" message="tns:registrarEspectador"/>
<output wsam:Action="http://complejoservidor/Publicador/registrarEspectadorResponse" message="tns:registrarEspectadorResponse"/>
</operation>
<operation name="desmarcarFavorito" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/desmarcarFavoritoRequest" message="tns:desmarcarFavorito"/>
<output wsam:Action="http://complejoservidor/Publicador/desmarcarFavoritoResponse" message="tns:desmarcarFavoritoResponse"/>
</operation>
<operation name="valorarEspectaculo" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://complejoservidor/Publicador/valorarEspectaculoRequest" message="tns:valorarEspectaculo"/>
<output wsam:Action="http://complejoservidor/Publicador/valorarEspectaculoResponse" message="tns:valorarEspectaculoResponse"/>
</operation>
<operation name="finalizarEspectaculo">
<input wsam:Action="http://complejoservidor/Publicador/finalizarEspectaculoRequest" message="tns:finalizarEspectaculo"/>
<output wsam:Action="http://complejoservidor/Publicador/finalizarEspectaculoResponse" message="tns:finalizarEspectaculoResponse"/>
</operation>
<operation name="listarEspectaculosValoracion">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculosValoracionRequest" message="tns:listarEspectaculosValoracion"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculosValoracionResponse" message="tns:listarEspectaculosValoracionResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://complejoservidor/Publicador/listarEspectaculosValoracion/Fault/ParseException"/>
</operation>
<operation name="existePaquete">
<input wsam:Action="http://complejoservidor/Publicador/existePaqueteRequest" message="tns:existePaquete"/>
<output wsam:Action="http://complejoservidor/Publicador/existePaqueteResponse" message="tns:existePaqueteResponse"/>
</operation>
<operation name="listarArtistas">
<input wsam:Action="http://complejoservidor/Publicador/listarArtistasRequest" message="tns:listarArtistas"/>
<output wsam:Action="http://complejoservidor/Publicador/listarArtistasResponse" message="tns:listarArtistasResponse"/>
</operation>
<operation name="estaComprado" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/estaCompradoRequest" message="tns:estaComprado"/>
<output wsam:Action="http://complejoservidor/Publicador/estaCompradoResponse" message="tns:estaCompradoResponse"/>
</operation>
<operation name="comprarPaquete" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/comprarPaqueteRequest" message="tns:comprarPaquete"/>
<output wsam:Action="http://complejoservidor/Publicador/comprarPaqueteResponse" message="tns:comprarPaqueteResponse"/>
</operation>
<operation name="buscarArtista">
<input wsam:Action="http://complejoservidor/Publicador/buscarArtistaRequest" message="tns:buscarArtista"/>
<output wsam:Action="http://complejoservidor/Publicador/buscarArtistaResponse" message="tns:buscarArtistaResponse"/>
</operation>
<operation name="estarRegistrado" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/estarRegistradoRequest" message="tns:estarRegistrado"/>
<output wsam:Action="http://complejoservidor/Publicador/estarRegistradoResponse" message="tns:estarRegistradoResponse"/>
</operation>
<operation name="existeUsuario">
<input wsam:Action="http://complejoservidor/Publicador/existeUsuarioRequest" message="tns:existeUsuario"/>
<output wsam:Action="http://complejoservidor/Publicador/existeUsuarioResponse" message="tns:existeUsuarioResponse"/>
</operation>
<operation name="relacionUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/relacionUsuarioRequest" message="tns:relacionUsuario"/>
<output wsam:Action="http://complejoservidor/Publicador/relacionUsuarioResponse" message="tns:relacionUsuarioResponse"/>
</operation>
<operation name="seguirUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/seguirUsuarioRequest" message="tns:seguirUsuario"/>
<output wsam:Action="http://complejoservidor/Publicador/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"/>
</operation>
<operation name="altaFuncion" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://complejoservidor/Publicador/altaFuncionRequest" message="tns:altaFuncion"/>
<output wsam:Action="http://complejoservidor/Publicador/altaFuncionResponse" message="tns:altaFuncionResponse"/>
</operation>
<operation name="tipoUsuario">
<input wsam:Action="http://complejoservidor/Publicador/tipoUsuarioRequest" message="tns:tipoUsuario"/>
<output wsam:Action="http://complejoservidor/Publicador/tipoUsuarioResponse" message="tns:tipoUsuarioResponse"/>
</operation>
<operation name="buscarPaquete">
<input wsam:Action="http://complejoservidor/Publicador/buscarPaqueteRequest" message="tns:buscarPaquete"/>
<output wsam:Action="http://complejoservidor/Publicador/buscarPaqueteResponse" message="tns:buscarPaqueteResponse"/>
</operation>
<operation name="dejarDeSeguir" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/dejarDeSeguirRequest" message="tns:dejarDeSeguir"/>
<output wsam:Action="http://complejoservidor/Publicador/dejarDeSeguirResponse" message="tns:dejarDeSeguirResponse"/>
</operation>
<operation name="buscarFunciones">
<input wsam:Action="http://complejoservidor/Publicador/buscarFuncionesRequest" message="tns:buscarFunciones"/>
<output wsam:Action="http://complejoservidor/Publicador/buscarFuncionesResponse" message="tns:buscarFuncionesResponse"/>
</operation>
<operation name="listarPaquete">
<input wsam:Action="http://complejoservidor/Publicador/listarPaqueteRequest" message="tns:listarPaquete"/>
<output wsam:Action="http://complejoservidor/Publicador/listarPaqueteResponse" message="tns:listarPaqueteResponse"/>
</operation>
<operation name="existeArtista">
<input wsam:Action="http://complejoservidor/Publicador/existeArtistaRequest" message="tns:existeArtista"/>
<output wsam:Action="http://complejoservidor/Publicador/existeArtistaResponse" message="tns:existeArtistaResponse"/>
</operation>
<operation name="existeEspectador">
<input wsam:Action="http://complejoservidor/Publicador/existeEspectadorRequest" message="tns:existeEspectador"/>
<output wsam:Action="http://complejoservidor/Publicador/existeEspectadorResponse" message="tns:existeEspectadorResponse"/>
</operation>
<operation name="extraerIDYoutube">
<input wsam:Action="http://complejoservidor/Publicador/extraerIDYoutubeRequest" message="tns:extraerIDYoutube"/>
<output wsam:Action="http://complejoservidor/Publicador/extraerIDYoutubeResponse" message="tns:extraerIDYoutubeResponse"/>
</operation>
<operation name="listarRegistros">
<input wsam:Action="http://complejoservidor/Publicador/listarRegistrosRequest" message="tns:listarRegistros"/>
<output wsam:Action="http://complejoservidor/Publicador/listarRegistrosResponse" message="tns:listarRegistrosResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://complejoservidor/Publicador/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://complejoservidor/Publicador/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="confirmarUsuario" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9">
<input wsam:Action="http://complejoservidor/Publicador/confirmarUsuarioRequest" message="tns:confirmarUsuario"/>
<output wsam:Action="http://complejoservidor/Publicador/confirmarUsuarioResponse" message="tns:confirmarUsuarioResponse"/>
</operation>
<operation name="listarBusqueda">
<input wsam:Action="http://complejoservidor/Publicador/listarBusquedaRequest" message="tns:listarBusqueda"/>
<output wsam:Action="http://complejoservidor/Publicador/listarBusquedaResponse" message="tns:listarBusquedaResponse"/>
</operation>
<operation name="existePlataforma">
<input wsam:Action="http://complejoservidor/Publicador/existePlataformaRequest" message="tns:existePlataforma"/>
<output wsam:Action="http://complejoservidor/Publicador/existePlataformaResponse" message="tns:existePlataformaResponse"/>
</operation>
<operation name="devolverBusqueda">
<input wsam:Action="http://complejoservidor/Publicador/devolverBusquedaRequest" message="tns:devolverBusqueda"/>
<output wsam:Action="http://complejoservidor/Publicador/devolverBusquedaResponse" message="tns:devolverBusquedaResponse"/>
</operation>
<operation name="sortearPremios" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://complejoservidor/Publicador/sortearPremiosRequest" message="tns:sortearPremios"/>
<output wsam:Action="http://complejoservidor/Publicador/sortearPremiosResponse" message="tns:sortearPremiosResponse"/>
</operation>
<operation name="aceptarRegisto" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://complejoservidor/Publicador/aceptarRegistoRequest" message="tns:aceptarRegisto"/>
<output wsam:Action="http://complejoservidor/Publicador/aceptarRegistoResponse" message="tns:aceptarRegistoResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://complejoservidor/Publicador/aceptarRegisto/Fault/ParseException"/>
</operation>
<operation name="listarPaquetes">
<input wsam:Action="http://complejoservidor/Publicador/listarPaquetesRequest" message="tns:listarPaquetes"/>
<output wsam:Action="http://complejoservidor/Publicador/listarPaquetesResponse" message="tns:listarPaquetesResponse"/>
</operation>
<operation name="validarUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/validarUsuarioRequest" message="tns:validarUsuario"/>
<output wsam:Action="http://complejoservidor/Publicador/validarUsuarioResponse" message="tns:validarUsuarioResponse"/>
</operation>
<operation name="listarPlataforma">
<input wsam:Action="http://complejoservidor/Publicador/listarPlataformaRequest" message="tns:listarPlataforma"/>
<output wsam:Action="http://complejoservidor/Publicador/listarPlataformaResponse" message="tns:listarPlataformaResponse"/>
</operation>
<operation name="existeFuncion">
<input wsam:Action="http://complejoservidor/Publicador/existeFuncionRequest" message="tns:existeFuncion"/>
<output wsam:Action="http://complejoservidor/Publicador/existeFuncionResponse" message="tns:existeFuncionResponse"/>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://complejoservidor/Publicador/listarCategoriasRequest" message="tns:listarCategorias"/>
<output wsam:Action="http://complejoservidor/Publicador/listarCategoriasResponse" message="tns:listarCategoriasResponse"/>
</operation>
<operation name="modificarArtista" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input wsam:Action="http://complejoservidor/Publicador/modificarArtistaRequest" message="tns:modificarArtista"/>
<output wsam:Action="http://complejoservidor/Publicador/modificarArtistaResponse" message="tns:modificarArtistaResponse"/>
</operation>
<operation name="buscarEspectador">
<input wsam:Action="http://complejoservidor/Publicador/buscarEspectadorRequest" message="tns:buscarEspectador"/>
<output wsam:Action="http://complejoservidor/Publicador/buscarEspectadorResponse" message="tns:buscarEspectadorResponse"/>
</operation>
<operation name="existeCategoria">
<input wsam:Action="http://complejoservidor/Publicador/existeCategoriaRequest" message="tns:existeCategoria"/>
<output wsam:Action="http://complejoservidor/Publicador/existeCategoriaResponse" message="tns:existeCategoriaResponse"/>
</operation>
<operation name="existeFuncionenE" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/existeFuncionenERequest" message="tns:existeFuncionenE"/>
<output wsam:Action="http://complejoservidor/Publicador/existeFuncionenEResponse" message="tns:existeFuncionenEResponse"/>
</operation>
<operation name="estaValorado" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/estaValoradoRequest" message="tns:estaValorado"/>
<output wsam:Action="http://complejoservidor/Publicador/estaValoradoResponse" message="tns:estaValoradoResponse"/>
</operation>
<operation name="esFavorito" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/esFavoritoRequest" message="tns:esFavorito"/>
<output wsam:Action="http://complejoservidor/Publicador/esFavoritoResponse" message="tns:esFavoritoResponse"/>
</operation>
<operation name="marcarFavorito" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/marcarFavoritoRequest" message="tns:marcarFavorito"/>
<output wsam:Action="http://complejoservidor/Publicador/marcarFavoritoResponse" message="tns:marcarFavoritoResponse"/>
</operation>
<operation name="crearPDF" parameterOrder="arg0 arg1">
<input wsam:Action="http://complejoservidor/Publicador/crearPDFRequest" message="tns:crearPDF"/>
<output wsam:Action="http://complejoservidor/Publicador/crearPDFResponse" message="tns:crearPDFResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://complejoservidor/Publicador/crearPDF/Fault/FileNotFoundException"/>
<fault message="tns:DocumentException" name="DocumentException" wsam:Action="http://complejoservidor/Publicador/crearPDF/Fault/DocumentException"/>
</operation>
<operation name="listarCategoriaE">
<input wsam:Action="http://complejoservidor/Publicador/listarCategoriaERequest" message="tns:listarCategoriaE"/>
<output wsam:Action="http://complejoservidor/Publicador/listarCategoriaEResponse" message="tns:listarCategoriaEResponse"/>
</operation>
<operation name="listarEspectaculosFinalizadosArtista">
<input wsam:Action="http://complejoservidor/Publicador/listarEspectaculosFinalizadosArtistaRequest" message="tns:listarEspectaculosFinalizadosArtista"/>
<output wsam:Action="http://complejoservidor/Publicador/listarEspectaculosFinalizadosArtistaResponse" message="tns:listarEspectaculosFinalizadosArtistaResponse"/>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="listarEspectaculoQueNoFormanParte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarFuncionesAsociadasCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarEspectaculosAceptadoCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="confirmarAgregarEspectaculoaPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="paquetesNoComprados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="buscarEspectaculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="confirmarCrearPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarEspectaculosAceptado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarEspectaculoP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="confirmarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarPaquetesVigentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="modificarEspectador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarEspectaculoCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarPaqueteEspectaculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarTodosEspectaculosAceptados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarEspectaculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarPlataformas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarEspectaculosArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="confirmarEspectaculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="estadoEspectaculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="obtenerEnlaceEmbebido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="existeEspectaculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarEspectaculosNoProcesados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarEspectaculoPl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarFuncionesAsociadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarCategoriaPE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="registrarEspectador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="desmarcarFavorito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="valorarEspectaculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="finalizarEspectaculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarEspectaculosValoracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="existePaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarArtistas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="estaComprado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="comprarPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="buscarArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="estarRegistrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="existeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="relacionUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="altaFuncion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="tipoUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="buscarPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="dejarDeSeguir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="buscarFunciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="existeArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="existeEspectador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="extraerIDYoutube">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarRegistros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="confirmarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarBusqueda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="existePlataforma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="devolverBusqueda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="sortearPremios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="aceptarRegisto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listarPaquetes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="validarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarPlataforma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="existeFuncion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="modificarArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="buscarEspectador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="existeCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="existeFuncionenE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="estaValorado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="esFavorito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="marcarFavorito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="crearPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="DocumentException">
<soap:fault name="DocumentException" use="literal"/>
</fault>
</operation>
<operation name="listarCategoriaE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
<operation name="listarEspectaculosFinalizadosArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://complejoservidor/"/>
</output>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:8085/publicador"/>
</port>
</service>
</definitions>